{% extends "index.html" %}
{% block content%}
	<h1 class="page-header">Cluster Statistik</h1>
	<div class="row">
		<div class="col-md-2 text-center">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Nodes</h3>
				</div>
				<div class="panel-body">
					<h1>{{ stats["node-count"] }}</h1>
				</div>
			</div>
		</div>
		<div class="col-md-2 text-center">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">VMs</h3>
				</div>
				<div class="panel-body">
					<h1>{{ stats["instance-count"] }}</h1>
				</div>
			</div>
		</div>
		<div class="col-md-2 text-center">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Nodes CPU Kerne</h3>
				</div>
				<div class="panel-body">
					<h1>{{ stats.nodes.cpus }}</h1>
				</div>
			</div>
		</div>
		<div class="col-md-2 text-center">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Speicherplatz</h3>
				</div>
				<div class="panel-body">
					<h1 class="prettyPrintBytes">{{ (stats.nodes.disk / 1048576)|number_format(2, ',', '.') }} TB</h1><p>(lokal verbaut)</p>
					<h1 class="prettyPrintBytes">{{ ((stats.instances.disk + stats.nodes.diskfree - stats.nodes.disk) / 1048576)|number_format(2, ',', '.') }} TB</h1><p>(extern vergeben)</p>
				</div>
			</div>
		</div>
		<div class="col-md-2 text-center">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">RAM</h3>
				</div>
				<div class="panel-body">
					<h1 class="prettyPrintBytes">{{ (stats.nodes.memory / 1024)|number_format(1, ',', '.') }} GB</h1>
				</div>
			</div>
		</div>
		<div class="col-md-2 text-center">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Min/Norm/Max VMs pro Node</h3>
				</div>
				<div class="panel-body">
					<h1>{{ stats["min-inst-per-node"] }} / {{ stats["avg-inst-per-node"] }} / {{ stats["max-inst-per-node"] }}</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="row"><h3>Cluster</h3>
		<div class="col-md-4 text-center">
			<div class="panel panel-default" style="width:400px; height:450px;">
				<div class="panel-heading">
					<h3 class="panel-title">VM vgl. Nodes CPUs</h3>
				</div>
				<div class="panel-body" id="cpugraph">
					<canvas id="cpuBar" width="400" height="400"></canvas>
				</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="panel panel-default" style="width:400px; height:450px;">
				<div class="panel-heading">
					<h3 class="panel-title">vergebener (global) vgl. freier Speicherplatz (lokal)</h3>
				</div>
				<div class="panel-body" id="diskgraph">
				<canvas id="diskBar" width="400" height="400"></canvas>	
				</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="panel panel-default" style="width:400px; height:450px;">
				<div class="panel-heading">
					<h3 class="panel-title">vergebener vgl. freier RAM</h3>
				</div>
				<div class="panel-body" id="memgraph">
					<canvas id="ramBar" width="400" height="400"></canvas>
				</div>
			</div>
		</div>
	</div>
{% for instance, data in stats.pernode %}
	<div class="row"><h3>{{ instance|slice(0,7) }}</h3>
                <div class="col-md-4 text-center">
                        <div class="panel panel-default" style="width:400px; height:450px;">
                                <div class="panel-heading">
                                        <h3 class="panel-title">VM vgl. {{ instance|slice(0,7) }} CPUs</h3>
                                </div>
                                <div class="panel-body" id="cpugraph">
                                        <canvas id="{{ instance|slice(0,7) }}CpuBar" width="400" height="400"></canvas>
                                </div>
                        </div>
                </div>
                <div class="col-md-4 text-center">
                        <div class="panel panel-default" style="width:400px; height:450px;">
                                <div class="panel-heading">
                                        <h3 class="panel-title">vergebener (global) vgl. freier Speicherplatz (lokal)</h3>
                                </div>
                                <div class="panel-body" id="diskgraph">
                                <canvas id="{{ instance|slice(0,7) }}DiskBar" width="400" height="400"></canvas>
                                </div>
                        </div>
                </div>
                <div class="col-md-4 text-center">
                        <div class="panel panel-default" style="width:400px; height:450px;">
                                <div class="panel-heading">
                                        <h3 class="panel-title">vergebener vgl. freier RAM</h3>
                                </div>
                                <div class="panel-body" id="memgraph">
                                        <canvas id="{{ instance|slice(0,7) }}RamBar" width="400" height="400"></canvas>
                                </div>
                        </div>
                </div>
        </div>
{% endfor %}
	<script>
var ctx = document.getElementById("cpuBar").getContext('2d');
var cpuBar = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["vCPUs", "CPU"],
        datasets: [{
            label: 'Anzahl',
            data: [{{ stats.instances.cpus }}, {{ stats.nodes.cpus }}],
            backgroundColor: [
		'rgba(255, 167, 38, 0.7)',
                'rgba(146, 208, 152, 0.7)'
            ]
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

var ctx = document.getElementById("diskBar").getContext('2d');
var diskBar = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Speicher"],
        datasets: [{
            label: 'belegter Speicher in TB',
            backgroundColor: 'rgba(255, 167, 38, 0.7)',
            data: [
		{{ (stats.instances.disk/1048576)|number_format(2, '.', '') }}
            ]
	}, {
            label: 'freier Speicher in TB',
            backgroundColor: 'rgba(146, 208, 152, 0.7)',
            data: [  
		{{ (stats.nodes.diskfree/1048576)|number_format(2, '.', '') }}
            ]
        }]
    },
    options: {
        scales: {
            xAxes: [{
		stacked: true,
                ticks: {
                    beginAtZero:true
                }
            }],
            yAxes: [{
		stacked: true
            }]
        }
    }
});

var ctx = document.getElementById("ramBar").getContext('2d');
var ramBar = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ["RAM-Auslastung"],
        datasets: [{
            data: [
		{{ (stats.instances.memory/1024)|number_format(1, '.', ',') }},
		{{ (stats.nodes.mfree/1024)|number_format(1, '.', ',') }},
            ],
            backgroundColor: [
		'rgba(255, 167, 38, 0.7)',
                'rgba(146, 208, 152, 0.7)'
            ],
            label: 'label'
        }],
	labels: [
            'belegter RAM in GB',
            'freier RAM in GB'
	]
    }
});
{% for instance, data in stats.pernode %}
var ctx = document.getElementById("{{ instance|slice(0,7) }}CpuBar").getContext('2d');
var cpuBar = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["vCPUs", "CPU"],
        datasets: [{
            label: 'Anzahl',
            data: [{{ data.vcpus }}, {{ data.cpus }}],
            backgroundColor: [
                'rgba(255, 167, 38, 0.7)',
                'rgba(146, 208, 152, 0.7)'
            ]
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

var ctx = document.getElementById("{{ instance|slice(0,7) }}DiskBar").getContext('2d');
var diskBar = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Speicher"],
        datasets: [{
            label: 'belegter Speicher in TB',
            backgroundColor: 'rgba(255, 167, 38, 0.7)',
            data: [
                {{ (data.disk/1048576)|number_format(1, '.', '') }}
            ]
        }, {
            label: 'freier Speicher in TB',
            backgroundColor: 'rgba(146, 208, 152, 0.7)',
            data: [  
                {{ (data.diskfree/1048576)|number_format(1, '.', '') }}
            ]
        }]
    },
    options: {
        scales: {
            xAxes: [{
                stacked: true,
                ticks: {
                    beginAtZero:true
                }
            }],
            yAxes: [{
                stacked: true
            }]
        }
    }
});

var ctx = document.getElementById("{{ instance|slice(0,7) }}RamBar").getContext('2d');
var ramBar = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ["RAM-Auslastung"],
        datasets: [{
            data: [
                {{ (data.memory/1024)|number_format(1, '.', ',') }},
                {{ (data.memfree/1024)|number_format(1, '.', ',') }},
            ],
            backgroundColor: [
                'rgba(255, 167, 38, 0.7)',
                'rgba(146, 208, 152, 0.7)'
            ],
            label: 'label'
        }],
        labels: [
            'belegter RAM in GB',
            'freier RAM in GB'
        ]
    }
});
{% endfor %}
	</script>
{% endblock %}
