{% extends "index.html" %}
{% block content%}
	<h1 class="page-header">Create one or more Instances</h1>
	 <form role="form" id="createForm" method="POST" action="/createInstance">
		 <div class="row">
			<div class="col-md-12" id="instanceNameGroup">
                <div class="entry input-group" style="padding-bottom:10px;">
                    <input class="form-control" id="inputVmName" name="vmName[]" type="text" placeholder="FQDN" />
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-add" type="button">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
			</div>
		</div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="inputClusterTag">Node Tags (e.g. hbal exclusion tags)</label>
                    <input class="form-control" id="inputClusterTag" name="clusterTag" type="text" placeholder="a:webservers" />
                </div>
            </div>
		<div class="row">
			<div class="col-md-4 text-center">
				<div class="form-group">
					<label for="inputCpuCount">CPU Count</label><br>
					<input id="inputCpuCount" name="cpuCount" type="text" data-slider-min="1" data-slider-max="16" data-slider-step="1" data-slider-value="2"/>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<div class="form-group">
					<label for="inputMemory">Memory (MB)</label><br>
					<input id="inputMemory" name="memory" type="text" data-slider-min="512" data-slider-max="8192" data-slider-step="256" data-slider-value="1024"/>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<div class="form-group">
					<label for="inputDiskSpace">Disk Space (GB)</label><br>
					<input id="inputDiskSpace" name="diskSpace" type="text" data-slider-min="10" data-slider-max="60" data-slider-step="1" data-slider-value="20"/>
				</div>
			</div>
		 </div>
		 <div class="row">
			 <div class="col-md-12 text-center" style="min-height: 100px">
				 <div class="btn-group" data-toggle="buttons">
{% for name,vlan in vlans %}
					 <label class="btn btn-primary">
						 <input type="radio" name="vlan" value="{{ vlan }}" id="option{{ vlan }}"> Vlan {{ vlan }} ({{ name }})
					 </label>
{% endfor %}
				 </div>
			 </div>
		 </div>
		 <div class="row">
			 <div class="col-md-12 text-center">
				 <button type="submit" class="btn btn-default">Create New Instance</button>
			 </div>	
		 </div>
	 </form>
	 <script>
	$("#inputCpuCount").slider();
	$("#inputMemory").slider();
	$("#inputDiskSpace").slider();
    $(function()
        {
            $(document).on('click', '.btn-add', function(e)
                    {
                        e.preventDefault();

                        var controlForm = $('#instanceNameGroup'),
                        currentEntry = $(this).parents('.entry:first'),
                            newEntry = $(currentEntry.clone()).appendTo(controlForm);

                        newEntry.find('input').val('');
                        controlForm.find('.entry:not(:last) .btn-add')
                            .removeClass('btn-add').addClass('btn-remove')
                            .removeClass('btn-success').addClass('btn-danger')
                            .html('<span class="glyphicon glyphicon-minus"></span>');
                    }).on('click', '.btn-remove', function(e)
                        {
                            $(this).parents('.entry:first').remove();

                            e.preventDefault();
                            return false;
                        });
        });
	 </script>
{% endblock %}
